<main>

  <section class="form-section">
    <img src="/assets/logo.svg" alt="">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button
        (click)="submit()"
        class="btn-primary"
        [disabled]="disableButtonDefault"
        >
      {{ primaryButtonText }}
      </button>

      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>

      <button
        (click)="navigate()"
        class="btn-secondary"
        >
        {{ secondaryButtonText }}
      </button>
    </div>
  </section>

  <section class="main-section">
    <h2>You Should, Move It!</h2>
    <img src="/assets/main-ilustration.svg" alt="">
  </section>

</main>
